<!-- alert message -->
<% if (success && success.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show col-6 mx-auto" id="success-alert" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if (error && error.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show col-6 mx-auto" id="error-alert" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<script>
    // Auto-hide success alert
    setTimeout(function() {
        var successAlert = document.getElementById('success-alert');
        if (successAlert) {
            successAlert.style.display = 'none';
        }
    }, 5000); // 5 seconds

    // Auto-hide error alert
    setTimeout(function() {
        var errorAlert = document.getElementById('error-alert');
        if (errorAlert) {
            errorAlert.style.display = 'none';
        }
    }, 5000); // 5 seconds
</script>