/* Basic CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    color: azure;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 100px;
    color: azure;
    overflow: hidden;
}

h1 span {
    display: inline-block;
}
