<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.386.146L.146 4.54a.5.5 0 0 0 0 .528L4.54 15.353a.5.5 0 0 0 .708.113l.548-.552V12h13.113l.552.552a.5.5 0 0 0 .708-.113L15.353 4.54a.5.5 0 0 0 .146-.386V.528a.5.5 0 0 0-.146-.386L11.46.146ZM8 14.5a.5.5 0 0 1 .5-.5V6a.5.5 0 0 1 1 0v7.5a.5.5 0 0 1-.5.5ZM8 1.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V1.5Z"/>
            </svg>
            <h4 class="alert-heading">Error <%= statusCode %>!</h4>
            <p class="mb-0"><%= message %> </p>
            <hr>
            <p class="mb-0">Please try again later or contact support if the problem persists.</p>
            <a href="/listings/new" class="btn btn-primary">Back to Add Listings</a>
        </div>
    </div>      